*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    margin-left: 5%;
}

.logo img{
    width: auto;
    height: 74px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    list-style: none;
    color: #CE3F24;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.shareableLink{
    margin-top: 2%;
    margin-left: 15%;
    width: 70vw;
}

.container{
    margin-top: 2%;
    width: 70vw;
    height: 70vh;
    margin-left: 15%;
    overflow: scroll;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 49%;
    height: 100%;
    float: left;
    background-color: #CE3F24;
    border-radius:10px;
    overflow: auto;
}

.item-container{
    margin-top: 1.5%;
    width: 150px;
    height: 169px;
    background-color: #FFFFFF;
    color: #CE3F24;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5%;
    border-radius: 0px 5px 5px;
}

.item-container p{
    text-align: center;
}

.cart{
    width:49%;
    height: 100%;
    float: right;
    background-color: #CE3F24;
    border-radius:10px;
    overflow: auto;
}

input[type=text] {
    width: 70vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('link.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}