
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/temp_styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <title>Weggies uwu</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="https://www.wegmans.com/"><img src="/static/Wegmans-Logo.png" alt="wegmans-logo"></a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="https://www.wegmans.com/stores/">Stores</a>
            </li>
            <li>
                <a href="https://www.wegmans.com/pharmacy/">Pharmacy</a>
            </li>
            <li>
                <a href="https://meals2go.com/#/https://shop.wegmans.com/shop/recipes">Meals 2Go</a>
            </li>
            <li>
                <a href="https://shop.wegmans.com/shop/recipes">Recipes</a>
            </li>
            <li>
                <a href="https://shop.wegmans.com/shop/coupons">Digital Coupons</a>
            </li>
            <li>
                <a href="https://jobs.wegmans.com/">Careers</a>
            </li>
        </ul>
    </nav>
    <input type="text" class="shareableLink" id="shareableLink" value="www.wegmans.com/youcart1231351312" onclick="copyClipBoard()" readonly>
    <button onclick="testGetAllProduct()"> Button</button>

    <div class="container">
        <div class="products">
        </div>
        <div class="cart" id="cart">
            
        </div>
    </div>

</body>
<script src="/static/temp_script.js"></script>
</html>
